@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #7fb77e;
    /* --primary-color: #99bc85; */
    --secondary-color: #e1f0da;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  ::selection {
    @apply bg-primary_color text-white;
  }
  .heading {
    @apply text-xl font-extrabold text-black md:text-xl z-20 w-fit relative mx-auto text-center
    after:absolute after:w-10 after:h-0.5 after:bg-black/40 after:left-1/2 after:-translate-x-1/2 after:-bottom-3
    md:mx-0 md:after:top-1/2 md:after:-translate-y-1/2 
    md:after:-right-20 md:after:left-auto md:translate-x-0 md:after:bottom-auto;
  }
  .heading span {
    @apply relative before:absolute before:w-9 before:h-9
    before:rounded-full before:-z-10 before:top-1/2 
    before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2
    md:before:w-16 md:before:h-16;
  }
  .heading span[data-bg="purple"] {
    @apply before:bg-secondary_color;
  }
  .heading span[data-bg="white"] {
    @apply before:bg-white;
  }
  .heading span[data-bg="purple-light"] {
    @apply before:bg-secondary_color;
  }
}
